<p-toast></p-toast>
<div class="login-container">

    <div class="image-box">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/delivery-girl-is-delivering-packages-illustration-svg-download-png-8608639.png"
            class="login-img" alt="OTP" />
    </div>

    <h2 class="title">Verify Your Account</h2>

    <p class="subtitle">
        Enter the 6-digit code we sent to
        <span class="font-semibold">{{ identifier }}</span>.
    </p>

    <div class="otp-box">
        <p-inputotp [(ngModel)]="otp" [length]="6" inputmode="numeric" size="large"></p-inputotp>
    </div>

    <button pButton label="Verify" class="continue-btn" [disabled]="otp.length !== 6" (click)="verifyOtp()"></button>

    <p class="footer-text mt-4">
        Didn’t get the code?
        <span class="link" (click)="resendOtp()">Resend</span>
        <br />
        <span class="link" (click)="changeNumber()">Change number</span>
    </p>

</div>