<p-menubar class="shadow-2">

    <ng-template pTemplate="start">
        <span class="text-xl font-bold cursor-pointer flex align-items-center" routerLink="/">
            <img src="https://cdn-icons-png.flaticon.com/512/655/655968.png" alt="pills" loading="lazy" width="20" height="20">
            Radhe Shyam Medical
        </span>
    </ng-template>

    <ng-template pTemplate="center">
        <span class="p-input-icon-left hidden md:flex w-20rem">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search medicines…" class="w-full" />
        </span>
    </ng-template>

    <ng-template pTemplate="end">
        @if(this.isAdmin == "False"){
        <div class="cart-wrapper" routerLink="/cart">
            <p-button icon="pi pi-shopping-cart" [rounded]="true" [text]="true" />
            <span class="cart-badge" *ngIf="cartCount > 0">
                {{ cartCount }}
            </span>
        </div>
        }
    </ng-template>

</p-menubar>