<div class="profile-container">

    <!-- HEADER -->
    <p-card class="profile-card">
        <div class="avatar-section">
            <div class="avatar-circle">
                <i class="pi pi-user"></i>
            </div>
            <h3 class="username">Your Profile</h3>
        </div>
    </p-card>

    <!-- FORM -->
    <p-card class="form-card">

        <!-- NAME -->
        <div class="field">
            <label>Name</label>
            <input pInputText [(ngModel)]="user.name" placeholder="Full Name" />
        </div>

        <!-- EMAIL -->
        <div class="field">
            <label>Email</label>
            <input pInputText type="email" [(ngModel)]="user.email" placeholder="you@example.com" />
        </div>

        <!-- PHONE -->
        <div class="field">
            <label>Phone Number</label>
            <input pInputText maxlength="10" [(ngModel)]="user.phone" placeholder="9876543210" />
        </div>

        <h3 class="address-title mt-3 mb-2">Delivery Address</h3>

        <div class="field">
            <label>House / Building</label>
            <input pInputText [(ngModel)]="user.address.house" placeholder="House No, Building" />
        </div>

        <div class="field">
            <label>Area / Landmark</label>
            <input pInputText [(ngModel)]="user.address.area" placeholder="Street / Landmark" />
        </div>

        <div class="field">
            <label>City</label>
            <input pInputText [(ngModel)]="user.address.city" placeholder="Your City" />
        </div>

        <div class="field">
            <label>Pincode</label>
            <input pInputText maxlength="6" [(ngModel)]="user.address.zip" placeholder="6 digit pincode" />
        </div>

        <div class="field">
            <label>State</label>
            <input pInputText [(ngModel)]="user.address.state" placeholder="Your State" />
        </div>

        <div class="field">
            <label>Country</label>
            <input pInputText [(ngModel)]="user.address.country" />
        </div>

        <button pButton label="Save Profile" class="save-btn w-full mt-3" (click)="saveProfile()">Save Profile</button>

    </p-card>

</div>
