<p-card class="card">
  <p-table [value]="orders" [paginator]="true" [rows]="10" class="table">
    <ng-template pTemplate="header">
      <tr>
        <th>Order ID</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>
          <a class="link" [routerLink]="['/admin/orders', order.id]">{{ order.id }}</a>
        </td>
        <td><p-tag [value]="order.status"></p-tag></td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
