<div class="success-container text-center">
  <i class="pi pi-check-circle success-icon"></i>

  <h2>Order Placed Successfully!</h2>

  <p *ngIf="orderId">Order ID: <strong>#{{ orderId }}</strong></p>
  <p>We will notify you once it is shipped.</p>

  <button 
    pButton 
    label="Track Order"
    class="success-btn primary-btn mt-3" 
    (click)="goToOrders()">
  </button>

  <button 
    pButton 
    label="Go to Home"
    class="success-btn outline-btn mt-2" 
    (click)="goHome()">
  </button>
</div>
