<p-card class="card">

    <button pButton label="Back" class="p-button-success mb-4" routerLink="/admin/orders"></button>

    <form [formGroup]="form">

        <div class="otp-box flex justify-content-center">
            <p-inputotp formControlName="otp" [length]="6" inputmode="numeric" size="large"></p-inputotp>
        </div>

        <div class="flex justify-content-center mt-3">
            <button pButton label="Verify" [disabled]="this.form.controls.otp.value?.length != 6" class="p-button-success" (click)="submit()"></button>
        </div>

        <!-- RESEND OTP SECTION -->
        <div class="flex justify-content-center mt-2">
            <button pButton label="Resend OTP" class="p-button-text p-button-warning" [disabled]="resendDisabled"
                (click)="resendOtp()">
            </button>
        </div>

        <div class="flex justify-content-center mt-1" *ngIf="resendDisabled">
            <small>Resend available in <strong>{{ timer }}s</strong></small>
        </div>

    </form>

</p-card>