<!-- EMPTY STATE -->
<div *ngIf="orders?.length === 0" class="empty-box">
  <i class="pi pi-shopping-bag empty-icon"></i>
  <h3>No Orders Yet</h3>
  <p>Start ordering your medicines and track them here!</p>
</div>

<!-- ORDER LIST -->
<div *ngFor="let order of orders" class="order-card">

  <img [src]="order?.items[0].product.imageUrl" alt="order-img" class="order-img" />

  <div class="info">

    <!-- STATUS + AMOUNT -->
    <div class="row">
      <span class="status" [ngClass]="{
          'placed': order?.status === 'Order Placed',
          'processing': order?.status === 'Processing',
          'shipped': order?.status === 'Shipped',
          'out': order?.status === 'Out for Delivery',
          'delivered': order?.status === 'Delivered'
        }">
        {{ order?.status }}
      </span>

      <span class="amount">₹{{ order?.totalAmount }}</span>
    </div>

    <p class="date">Placed on {{ order?.orderDate }}</p>
    <p class="id">Order #{{ order?.id }} • {{ order?.items.length }} items</p>

    <!-- TRACKING BAR -->
    <div class="progress-bar">
      <div class="progress-fill" [style.width]="getProgress(order?.status)"></div>
    </div>

    <button pButton label="Track Order" icon="pi pi-map-marker" class="track-btn" (click)="track(order)">
    </button>

  </div>
</div>