<h2 class="title">Your Orders</h2>

<!-- EMPTY STATE -->
<div *ngIf="orders.length === 0" class="empty-box">
  <i class="pi pi-shopping-bag empty-icon"></i>
  <h3>No Orders Yet</h3>
  <p>Start ordering your medicines and track them here!</p>
</div>

<!-- ORDER LIST -->
<div *ngFor="let o of orders" class="order-card">

  <img [src]="o.items[0].product.img" class="order-img" />

  <div class="info">

    <!-- STATUS + AMOUNT -->
    <div class="row">
      <span class="status" [ngClass]="{
          'placed': o.status === 'Order Placed',
          'processing': o.status === 'Processing',
          'shipped': o.status === 'Shipped',
          'out': o.status === 'Out for Delivery',
          'delivered': o.status === 'Delivered'
        }">
        {{ o.status }}
      </span>

      <span class="amount">₹{{ o.amount }}</span>
    </div>

    <p class="date">Placed on {{ o.date }}</p>
    <p class="id">Order #{{ o.id }} • {{ o.items.length }} items</p>

    <!-- TRACKING BAR -->
    <div class="progress-bar">
      <div class="progress-fill" [style.width]="getProgress(o.status)"></div>
    </div>

    <button pButton label="Track Order" icon="pi pi-map-marker" class="track-btn" (click)="track(o)">
    </button>

  </div>
</div>