<!-- EMPTY STATE -->
<div *ngIf="cart.length === 0" class="empty-box">
    <i class="pi pi-shopping-cart empty-icon"></i>
    <h3>Your cart is empty</h3>
    <p>Add medicines to save big!</p>
</div>


<!-- CART ITEMS -->
<div *ngFor="let item of cart" class="cart-card">

    <img [src]="item.productImageUrl" class="cart-img" />

    <div class="cart-info">

        <h4 class="name">{{ item.productName }}</h4>

        <div class="price-row">
            <span class="price">₹{{ item.price }}</span>
        </div>

        <!-- Quantity Controls -->
        <div class="qty-box">
            <button pButton icon="pi pi-minus" severity="secondary" class="qty-btn"(click)="decrease(item)"></button>
            <span class="qty">{{ item.qty }}</span>
            <button pButton icon="pi pi-plus" severity="primary" class="qty-btn"(click)="increase(item)"></button>
        </div>

        <button class="remove-btn" (click)="remove(item)"><i class="pi pi-trash"></i>
            Remove
        </button>
    </div>
</div>

<!-- OCR MOCK-->
<div class="ocr-container">

    <label class="ocr-upload-full">
        <i class="pi pi-upload"></i>
        Upload Prescription
        <input type="file" hidden (change)="onFileSelected($event)">
    </label>

    <div *ngIf="detectedItems.length > 0" class="ocr-result-card">
        <h4><i class="pi pi-file-check"></i> Detected Items</h4>

        <ul>
            <li *ngFor="let med of detectedItems">{{ med?.name || '' }}</li>
        </ul>

        <button pButton label="Add to Cart" class="success-btn outline-btn mt-2" (click)="addDetectedToCart()">
        </button>

    </div>
</div>

<!-- CHECKOUT -->
<div *ngIf="cart.length > 0" class="checkout-box">
    <div class="total-row">
        <h3 class="m-0">Total:</h3>
        <h3 class="total m-0">₹{{ total }}</h3>
    </div>

    <button 
      pButton 
      label="Proceed to Checkout" 
      class="checkout-btn"
      (click)="goToCheckout()">
    </button>
</div>
