<p-toast></p-toast>
<div class="login-container">

    <div class="image-box">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/pandemic-delivery-service-illustration-svg-download-png-8608641.png"
            class="login-img" alt="Login" />
    </div>

    <h2 class="title">Sign in to Continue</h2>
    <p class="subtitle">Enter your phone number or email to proceed</p>

    <div class="input-box">
        <p-inputgroup>
            <input type="text" [(ngModel)]="identifier" placeholder="Phone number" class="p-inputtext p-component w-full"
                (keypress)="allowOnlyDigits($event)" (input)="filterDigits()" />
        </p-inputgroup>
        </div>

    <button pButton label="Continue" [disabled]="identifier.length != 10" class="continue-btn" (click)="sendOtp()"></button>

    <p class="footer-text">
        By continuing, you agree to our
        <span class="link">Terms of Service</span> and
        <span class="link">Privacy Policy</span>.
    </p>

</div>