<div class="tracking-page">

  <div class="header">
    <button pButton icon="pi pi-arrow-left" class="back-btn" (click)="goBack()"></button>
    <h2>Track Order</h2>
  </div>

  <div class="summary-card shadow-2">
    <h3>Order #{{ order?.id }}</h3>
    <p>{{ order?.items?.length }} items • ₹{{ order?.amount }}</p>

    <span class="status-badge"
      [ngClass]="{
        'placed': order?.status === 'Order Placed',
        'processing': order?.status === 'Processing',
        'shipped': order?.status === 'Shipped',
        'out': order?.status === 'Out for Delivery',
        'delivered': order?.status === 'Delivered'
      }">
      {{ order?.status }}
    </span>
  </div>

  <p-timeline 
    [value]="getTrackingSteps()"
    align="alternate"
    class="full-timeline">

    <ng-template pTemplate="marker" let-event>
      <span class="marker" [ngClass]="event.done ? 'marker-done' : 'marker-pending'"></span>
    </ng-template>

    <ng-template pTemplate="content" let-event>
      <div [ngClass]="event.done ? 'step-done' : 'step-pending'">
        {{ event.label }}
      </div>
    </ng-template>

  </p-timeline>

</div>
