.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.payment-section {
    background: white;
    padding: 12px;
    border-radius: 14px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.option {
    display: flex;
    align-items: center;
    padding: 14px 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;

    &:last-child {
        border-bottom: none;
    }
}

.option:hover {
    background: #f9fafb;
}

.info {
    margin-left: 12px;

    h4 {
        font-size: 1.1rem;
        margin: 0;
        font-weight: 600;
    }

    p {
        font-size: .85rem;
        color: #777;
        margin: 2px 0 0;
    }
}

/* Sticky Bottom Bar */
.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 -2px 14px rgba(0, 0, 0, 0.1);
    padding: 14px;
    border-radius: 16px 16px 0 0;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    span {
        font-size: 1rem;
        color: #555;
    }

    strong {
        font-size: 1.25rem;
        color: #2563eb;
    }
}

.pay-now {
    width: 100%;
    height: 45px;
    border-radius: 10px !important;
    background: #2563eb !important;
    font-size: 1rem;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.blur p, .blur h4 {
  color: #aaa;
}
